<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <configs SELEFILE="D:\study\embedded\mcu\beken\sparrow_one\bk7221u_release\rtthread.bin" SAVEFILE="D:\study\embedded\mcu\beken\sparrow_one\bk7221u_release\rtthread.rbl" COMPRESS="3" CRYPT="1" KEY="0123456789ABCDEF0123456789ABCDEF" IV="0123456789ABCDEF" NAME="app" VERSION="202011051538" />
</configuration>